body{
	/* General settings */
	background-color: #464646;
	margin: 0px;
	background-image: url("head.png");
	background-size: cover;
	
	/* Global styling */
	scrollbar-track-color: #000000;
	
	/* Font settings */
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
}

#head{
	position: absolute;
	width: 100%;
	height: 200px;
}

#menu{
	position: absolute;
	height: auto;
	width: 200px;
	top: 0px;
	right: 0px;
	border-bottom-left-radius: 20px;
	background-image: url("bg.png");
	padding-bottom: 20px;
}

.menu-item{
	position: static;
	cursor: pointer;
	margin-top: 4px;
	margin-left: 20px;
}

#photo{
	position: absolute;
	background-image: url("photo.png");
	background-size: cover;
	top: 10px;
	left: 10%;
	height: 180px;
	width: 180px;
	border-radius: 100%;
}

#body{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 200px;
	bottom: 0px;
	background-image: url("bg.png");
	overflow-y: scroll;
	padding-left: 20px;
}

.headText{
	position: absolute;
	left: 10%;
	margin-left: 200px;
}